In [2]:
import pandas as pd
import glob
combined_csv = pd.DataFrame()
for f in glob.glob(".\data_by_cities/body_*.csv"):

    df = pd.read_csv(f, sep='\t', encoding='utf-8', index_col=0) # make sure to apply correct settings (sep, parse_dates, headers, missing_values)
    #df["origin"] = f.replace(".\data_by_cities\\","").replace(".csv","") #add a column with a csv name
    combined_csv = combined_csv.append(df) #append new df to the "master" dataframe
    
combined_csv["price"] = combined_csv["price"].str.replace("£","").str.replace(',', '').astype(float)
combined_csv["seller_location"] = combined_csv["seller_location"].str.replace(r'\([^()]*\)', '', regex=True)
combined_csv = combined_csv[~combined_csv.duplicated()].reset_index(drop=True)
combined_csv.to_csv("merged.csv", sep='\t', encoding='utf-8')
combined_csv

,Title,price,species,age,gender,description,seller_name,seller_location,seller_type,listing_type,pet_type
0,unsexed green tree python + 60cm vivtek,1000.0,Python Snake,3 years,Mixed,~3years old gtp biak x sorong\r\n\r\nTypical g...,Patryk M.,Aberdeen,Individual,sale,reptiles
1,Leopard gecko (f),80.0,Gecko,1 year,Female,Selling this leopard gecko I've had the joy of...,Dana I.,Aberdeen,Individual,sale,reptiles
2,rexy,100.0,Iguana,4 years,Male,rexy needs a new home ASP\r\n sadly I don't no...,Gillian W.,Aberdeen,Individual,sale,reptiles
3,Panther Chameleon and full set up,550.0,Chameleon,9 months,Male,Blue is a 6 month old Nosey Mitsio chameleon. ...,Craig H.,Aberdeen,Individual,sale,reptiles
4,Hand reared white Indian ringnecks,300.0,Parakeets,9 weeks,Mixed,I have 2 stunning white Indian ringnecks. 1 ma...,Dave T.,Aberdeen,Individual,sale,birds
...,...,...,...,...,...,...,...,...,...,...,...
48778,canarys for sale all colour plus new colours,40.0,Canaries,7 weeks,Mixed,there are all mixed cocks and hens new volour ...,Robert n.,Knottingley,Breeder,sale,birds
48779,TAME & TALKING HARNESS TRAINED BLUE & GOLD MACAW,2150.0,Macaws,4 years,Male,Rainbow is a beautiful example of a blue and g...,The Bradford Birdman,Bradford,Licensed Breeder,sale,birds
48780,Hand reared indian ringnecks babys,350.0,Parrots,1 year,Male,Hand reared cuddly silly tame little babys for...,Waqar A.,Bradford,Breeder,sale,birds
48781,One yellow one orange canary.,60.0,Canaries,2 years,Mixed,I’m reluctantly listing my canaries (peach and...,Amylia R.,Barnsley,Individual,sale,birds
48782,Tame and talking African grey,1250.0,Parrots,9 years,Male,Pablo has just turned 9 not able to give him t...,Ahmad R.,Bradford,Breeder,sale,birds